.error {
    color: red;
}

.deltager_header {
    background-color: #cccccc;
}

.deltager_signed_in {
    background-color: #aaffaa;
}

.deltager {
    background-color: #ffffff;
}
.error1 {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}
.error.active {
    padding: 0.3em;
}