# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\adria\OneDrive\Documents\OneDrive\Høgskolen På Vestlandet\DAT108 H20\DAT108Oblig4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
